
    <div class='well'>
		Please stay tuned while we are waiting for other participants to join the session. 
		Should not enough participants join in due time, you will be redirected to the
		Amazon Mechanical Turk website and receive your participation reward of $1.
		We wait for up to <strong>5 minutes</strong> to assemble up to <strong>10 participants
		</strong>. However the game could start any minute as soon as enough participants are 
		assembled. 
		<br>
		<br>
		<strong>While you wait, could you please answer the following demographic questions:</strong>
		<br>
		<br>
    </div>

	{{ myform }}


